html,body{
    height: 100%;
    background-color: rgba(0,0,0,0);
}

body{
    background-color: rgba(0,0,0,0);
}

.main-window-wrap{
    display: table;
    height: 100%;
}

.main-window{
    background-color: #fff;
}
.main-window.has-sidebar{
    display: table-row;
    height: 100%;
}
    .main-window.has-sidebar .window-wrap{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: top;
    }

gf-sidebar{
    display: table-cell;
    height: 100%;
    vertical-align: top;
    background-color: #555;
}

.sidebar{
    width:64px;
    background-color: #555;
}
    .sidebar .item{
        height: 64px;
    }
        .sidebar .item .icon{
            height: 100%;
            padding: 20px;
            fill: #fff;
        }
        .sidebar .item div{
            padding: 20px;
            color: #fff;
        }
    .sidebar .item.menu{
        background-color: #FFD75C;
        fill: #555;
    }
    .sidebar .item.active{
        background-color: #666;
    }

.titlebar{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #f0f0f0;
    -webkit-box-shadow: none;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
    .titlebar .btn{
        border-radius: 0;
    }
    .titlebar .navbar-left{
        margin-left: -15px;
    }
    .titlebar .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of logo width */
        display: block;
        color: #777;
        font-size: 15px;
    }
    .titlebar ng-md-icon{
        fill: #263238
    }

.btn, a, button{
    -webkit-app-region: no-drag;
    cursor: pointer
}

/* screen: dashboard */
/* Collection List */
.collection-list{
    margin-left: 58px;
}
    .collection-list .add-collection{
        padding: 20px;
        cursor: pointer;
    }
        .collection-list .add-collection ng-md-icon{
            fill: #999;
            position: relative;
            bottom:-4px;
        }
        .collection-list .add-collection .h5{
            color: #888;
        }
        .collection-list .add-collection:hover .h5{
            color: #666;
        }
    .collection-list .collection-data .info{
        padding: 15px;
    }
        .collection-list .collection-data .info .name{
            color: #777;
            cursor: pointer;
        }
        .collection-list .collection-data .info:hover .name{
            color: #555;
        }
        .collection-list .collection-data .info .keywords{
            margin-top: 10px;
        }
            .collection-list .collection-data .info .keywords span{
                background-color: #eee;
                color:#888;
                padding: 5px;
                margin-right: 5px;
            }
        .collection-list .collection-data .info .actions{
            margin-top: 5px;
        }
            .collection-list .collection-data .info .actions .switch {
                width: 37px;
                height: 16px;
            }
            .collection-list .collection-data .info .actions .switch small{
                width: 15px;
                height: 15px;
            }
            .collection-list .collection-data .info .actions ng-md-icon{
                fill: #ccc;
            }
            .collection-list .collection-data .info .actions ng-md-icon:hover{
                fill: #999;
            }
    .collection-list .collection-data .img{
        cursor: pointer;
        opacity: 0.9;
    }
        .collection-list .collection-data .img:hover{
            opacity: 1;
        }

/* Collection Form */
.collection-form-wrap, .card-form-wrap{
    width: 50%;
    margin: auto;
}

.file-input {
	width   : 0.1px;
	height  : 0.1px;
	opacity : 0;
	overflow: hidden;
	position: absolute;
	z-index : -1;
}

.file-input-lbl{
    box-shadow: none;
    background-color: #eee;
    color: #888;
}

.cropArea {
  width:100%;
  height: 300px;
  margin-top: 15px;
}

/* Card List */
.card-list-header .collection-logo{
    height: 51px;
    margin-bottom: -5px;
}
    .card-list-header .collection-logo img{
        max-width : 100px;
        max-height: 100%;
    }
.card-list-header .collection-info .kw{
    background-color:#eee;
    margin-right    : 3px;
    color           : #999;
    padding         : 4px;
    font-size       : 12px;
    border-radius   : 2px;
}
.card-list-header .collection-action{
    position: relative;
    bottom:-7px;
}
    .card-list-header .collection-action ng-md-icon{
        fill: #ccc;
    }
        .card-list-header .collection-action ng-md-icon:hover{
            fill: #999;
        }
.card-list-body .card-data .actions ng-md-icon{
    fill: #ccc;
}
    .card-list-body .card-data .actions ng-md-icon:hover{
        fill: #999;
    }
.card-list-body .card-data .alerts .alert{
    margin: 0;
    border-radius: 0;
}
    .card-list-body .card-data .alerts .alert.alert-info{
        background-color: rgba(79, 147, 244, 0.8);
    }
    .card-list-body .card-data .alerts .alert.alert-success{
        background-color: rgba(15, 157, 55, 0.7);
    }
    .card-list-body .card-data .alerts .alert.alert-warning{
        background-color: rgba(255, 152, 0, 0.7);
    }
    .card-list-body .card-data .alerts .alert.alert-danger{
        background-color: rgba(229, 28, 35, 0.7);
    }


/* jstag */
.jt-editor{
    padding: 0;
    border : none;
}
    .jt-editor .jt-tag-new{
        width: 100% !important;
        margin-top: 10px;
    }
