.popup-wrap{
    color: #777;
}
.popup-wrap .popup-img img{
    width: 100%;
    overflow: hidden;
    -webkit-app-region: drag;
}
.popup-wrap .popup{
    border: 1px solid #ddd;
    border-top: none;
}
    .popup-wrap .popup .container{
        margin-bottom: 20px;
    }

.popup-wrap .info{
    background-color: #eee;
    -webkit-app-region: drag;
}
    .popup-wrap .info .col-md-12{
        padding-left: 0;
    }
    .popup-wrap .info .collection{
        background-color: #9AB8D7;
        font-size: 17px;
        line-height: 1.5;
        color: #fff;
        height: 27px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .popup-wrap .info .arrow-right{
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 13px solid #9AB8D7;
    }
    .popup-wrap .info .counter{
        color: #aaa;
        font-size: 15px;
    }
.popup-wrap .progress, .progress .progress-bar{
    height: 2px;
    margin-bottom: 7px;
}
.popup-wrap .options a ng-md-icon{
    fill: #999;
}
    .popup-wrap .options a:hover ng-md-icon{
        fill: #777;
    }
.popup-wrap .question-wrap{
    position: relative;
    margin-bottom: 5px;
}
    .popup-wrap .question-wrap .question{
        font-size: 20px;
    }
.popup-wrap .answer .h2{
    padding: 0 2px;
    font-size: 42px;
}
.popup-wrap .answer .correct-answer{
    font-size: 20px;
    position: absolute;
    padding-left: 4px;
    bottom: 0;
}
.popup-wrap .alerts, .alerts .alert{
    margin: 0;
}
    .popup-wrap .alerts .alert{
        border-radius: 0;
    }
