<div class="card-list-header">
    <ul class="list-inline">
        <li class="collection-logo">
            <img class="pull-left" ng-src="{{app_datapath}}/data/local/images/{{card_list.collection.bg_img}}"/>
        </li>
        <li class="collection-info">
            <span class="h4">{{card_list.collection.name}}</span><br />
            <span class="kw" ng-repeat="kw in card_list.collection.keywords">{{kw}}</span>
        </li>
        <li class="collection-action">
            <a ng-click="change_subscreen('card_list', 'card_form')" title="Edit Collection Info">
                <ng-md-icon icon="edit"></ng-md-icon>
            </a>
        </li>
        <li class="collection-action">
            <a ng-click="change_subscreen('card_list', 'card_form')" title="Add a card">
                <ng-md-icon icon="add"></ng-md-icon>
            </a>
        </li>
    </ul>
</div>
<hr>
<style media="screen">
    .progress-bar-danger:last-child.progress-bar:before{
        opacity: .5;
    }
    .info .actions .scheduled ng-md-icon{
        fill: rgba(79, 147, 244, 0.8);
    }
</style>
<div class="card-list-body">
    <div ng-if="!check_list()">
        No Cards to display.
    </div>
    <div ng-if="check_list()">
        <ul class="dynamic-grid" angular-grid="card_list" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false">
            <li data-ng-repeat="card in card_list.cards" class="grid">
                <div class="card-data" ng-init="card.reveal_ans = false; card.show_alert = false">
                    <div class="delete_dialog" ng-if="card.show_delete_dialog">
                        <div class="header">
                            <ng-md-icon icon="delete" size="40"></ng-md-icon>
                            <h3>Sure?</h3>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-danger" ng-click="confirm_card_delete(true, card._id)">Yes</a>
                            <a class="btn btn-default" ng-click="card.show_delete_dialog = false">No</a>
                        </div>
                    </div>
                    <div class="img" ng-if="card.media">
                        <img ng-src="{{app_datapath}}/data/local/images/{{card.media}}" class="grid-img" />
                    </div>
                    <div class="progress" ng-if="!card.scheduled_at || is_scheduled_today(card)" style="margin:0; height: 3px;">
                        <div class="progress-bar progress-bar-danger" ng-class="card.pbar_status" ng-style="{'width': card.result+'%'}" style="height: 3px;"></div>
                    </div>
                    <div class="info" style="padding: 10px; font-size: 20px">
                        <div class="actions pull-right">
                            <a class="schedule-info" uib-popover="{{ get_schedule_info(card) }}" popover-placement="bottom" popover-trigger="mouseenter" ng-class="{scheduled: card.scheduled_at}" style="text-decoration: none">
                                <ng-md-icon icon="timer" size="18"></ng-md-icon>
                            </a>
                            <a class="edit" style="text-decoration: none" title="Edit Card">
                                <ng-md-icon icon="edit" size="18"></ng-md-icon>
                            </a>
                            <a class="delete" style="text-decoration: none" ng-click="card.show_delete_dialog = true" title="Delete Card">
                                <ng-md-icon icon="delete" size="19"></ng-md-icon>
                            </a>
                        </div>
                        <div class="question">
                            <span class="h2" style="color: #777">Q.</span>
                            {{card.question}}
                        </div>
                        <div class="answer">
                            <div class="input-group">
                                <span class="input-group-addon h2" style="color: #777; padding: 0 2px; font-size: 42px">A.</span>
                                <!-- if card is not scheduled(ie, new card) OR card is scheduled for today -->
                                <input type="text" class="form-control" placeholder="type in answer you remember.." ng-model="card.inpt_ans" ng-if="!card.scheduled_at || is_scheduled_today(card)" ng-change='check_answer(card)'/>
                                <!-- else if card is scheduled for a later date -->
                                <span class="correct-ans" style="position: absolute; padding-left: 4px; bottom: 0;" ng-if="card.scheduled_at && !is_scheduled_today(card)">{{card.answer}}</span>
                            </div>
                            <div class="btn-group btn-group-justified" ng-if="!card.scheduled_at || is_scheduled_today(card)">
                                <a class="btn btn-default" ng-click='schedule_flash(card, true)'>
                                    Submit
                                </a>
                                <a class="btn btn-default" ng-click='schedule_flash(card, false)'>
                                    Reveal
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="alerts" ng-show="card.show_alert">
                        <div class="alert alert-info" ng-show="card.alert_type == 'info'">
                            <strong>Alright!</strong><br />
                            Flash card scheduled <span am-time-ago="card.scheduled_at"></span> from now. GoodDay :)
                        </div>
                        <div class="alert alert-success" ng-show="card.alert_type == 'correct'">
                            <strong>That's correct!</strong><br />
                            Flash card scheduled <span am-time-ago="card.scheduled_at"></span> from now. GoodDay :)
                        </div>
                        <div class="alert alert-warning" ng-show="card.alert_type == 'partial'">
                            <strong>Almost Correct!</strong><br />
                            Flash card scheduled <span am-time-ago="card.scheduled_at"></span> from now. GoodDay :)
                        </div>
                        <div class="alert alert-danger" ng-show="card.alert_type == 'incorrect'">
                            <strong>Oops.. Thats not the right answer!</strong><br />
                            Scheduling flash card <span am-time-ago="card.scheduled_at"></span> from now... GoodDay :)
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
