<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">
            <ng-md-icon icon="search" style="fill: #aaa"></ng-md-icon>
        </span>
        <input class="form-control" type="text" placeholder="Filter Collections"><br />
    </div>
</div>
<div class="collection-list">
    <ul class="dynamic-grid" angular-grid="collection_list" grid-width="250" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
        <li data-ng-repeat="collection in collection_list" class="grid">
            <div class="collection-data">
                <div class="delete_dialog" ng-if="collection.show_delete_dialog">
                    <div class="header">
                        <ng-md-icon icon="delete" size="40"></ng-md-icon>
                        <h3>Sure?</h3>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-danger" ng-click="confirm_col_delete(true, collection._id)">Yes</a>
                        <a class="btn btn-default" ng-click="collection.show_delete_dialog = false">No</a>
                    </div>
                </div>
                <div class="img" ng-click="prepare_card_list(collection) && change_subscreen('collection_list', 'card_list')" ng-if="collection.bg_img">
                    <img ng-src="{{app_datapath}}/data/local/images/{{collection.bg_img}}" class="grid-img" />
                </div>
                <div class="info">
                    <span class="name h4" ng-click="prepare_card_list(collection) && change_subscreen('collection_list', 'card_list')">
                        {{collection.name}}
                    </span>
                    <div class="actions pull-right">
                        <span ng-click="toggle_flash(collection)" title='Enable Flash Cards'>
                            <switch ng-model="collection.flash" class="small green"></switch>
                        </span>
                        <a title="Edit Collection Info">
                            <ng-md-icon icon="edit" size="18"></ng-md-icon>
                        </a>
                        <a ng-click="collection.show_delete_dialog = true" title="Delete Collection">
                            <ng-md-icon icon="delete" size="19"></ng-md-icon>
                        </a>
                    </div>
                    <div class="keywords">
                        <span ng-repeat="kw in collection.keywords">{{kw}}</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="grid add-collection" ng-click="change_subscreen('collection_list', 'collection_form')">
            <ng-md-icon icon="add"></ng-md-icon>
            <span class="h5">Add a New Collection</span>
        </li>
    </ul>
</div>
