<div class="popup-wrap">
    <div class="popup-img">
        <img ng-if="img_src" ng-src="{{img_src}}" ele-load="on_image_load($event)"/>
    </div>
    <div class="popup" ng-init="show_alert=false;show_btns=true">
        <div class="container">
            <div class="row info">
                <div class="col-md-12">
                    <div class="collection pull-left">Colname</div>
                    <div class="arrow-right pull-left"></div>
                    <span class="counter pull-right">1 0f 24</span>
                </div>
            </div>
            <div class="row progress">
                <div class="progress-bar" ng-style="{'width': card.result+'%'}"></div>
            </div>
            <div class="row question-wrap">
                <div class="col-md-12 question">
                    <span class="h2">Q.</span>
                    Some question?? Some question?? Some question??
                </div>
            </div>
            <div class="row answer-wrap">
                <div class="col-md-12 answer">
                    <div class="input-group">
                        <span class="input-group-addon h2">A.</span>
                        <input type="text" class="form-control" placeholder="type in answer you remember.." ng-model="input_answer"/>
                        <!-- <span class="correct-answer">Some answer</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="answer-btns btn-group btn-group-justified" ng-show="show_btns">
            <a class="btn btn-default" ng-click="submit()">
                Submit
            </a>
            <a class="btn btn-default">
                Reveal
            </a>
            <div class="btn-group dropup" uib-dropdown>
                <button id="split-button" type="button" class="btn btn-default">Later</button>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 98px">
                    <li role="menuitem"><a href="#">5min</a></li>
                    <li role="menuitem"><a href="#">10mins</a></li>
                    <li role="menuitem"><a href="#">1hr</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Cancel</a></li>
                    <li role="menuitem"><a href="#">Cancel All</a></li>
                </ul>
            </div>
        </div>
        <div class="alerts" ng-show="show_alert">
            <!-- <div class="alert alert-info">
                <strong>Alright!</strong><br />
                Flash card scheduled <span am-time-ago="card.scheduled_at"></span> from now. GoodDay :)
            </div> -->
            <div class="alert alert-success">
                <strong>That's correct!</strong><br />
                Flash card scheduled _____ from now. GoodDay :)
            </div>
            <!-- <div class="alert alert-warning">
                <strong>Almost Correct!</strong><br />
                Flash card scheduled <span am-time-ago="card.scheduled_at"></span> from now. GoodDay :)
            </div>
            <div class="alert alert-danger">
                <strong>Oops.. Thats not the right answer!</strong><br />
                Scheduling flash card <span am-time-ago="card.scheduled_at"></span> from now... GoodDay :)
            </div> -->
        </div>
    </div>
</div>
