<div class="sidebar" ng-style="{width: sidebar_width }">
    <div class="item menu">
        <a ng-click="toggle_sidebar()" class="icon pull-left">
            <ng-md-icon icon="menu"></ng-md-icon>
        </a>
<!--         <div class="pull-right">
            Menu
        </div> -->
    </div>
    <div class="item active">
        <a class="icon pull-left">
            <ng-md-icon icon="home"></ng-md-icon>
        </a>
    </div>
    <div class="item">
        <a class="icon pull-left">
            <ng-md-icon icon="headset"></ng-md-icon>
        </a>
    </div>
    <div class="item">
        <a class="icon pull-left">
            <ng-md-icon icon="brush"></ng-md-icon>
        </a>
    </div>
</div>
