<div class="sidebar" ng-style="{width: sidebar_width }">
    <div class="item menu">
        <a class="icon pull-left" ng-click="toggle_sidebar()">
            <ng-md-icon icon="menu"></ng-md-icon>
        </a>
<!--         <div class="pull-right">
            Menu
        </div> -->
    </div>

    <div class="item" ng-repeat="item in items" ng-class="{active: item['is_active']}">
        <a class="icon pull-left" ng-click="update_active_item(item)" ng-href="#/{{ item['uri'] }}">
            <ng-md-icon icon="{{ item['icon_type'] }}"></ng-md-icon>
        </a>
    </div>
</div>
